<footer>
	<ul>
		<li><%= link_to "Home", root_url %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
		<li><%= link_to "Schools", schools_path %></li>
		<li><%= link_to "Terms", tos_path %></li>
		<li><%= link_to "Privacy", privacy_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "<i class='fa fa-facebook-square'></i>".html_safe, "https://www.facebook.com/UEvents.io" %></li>
		<li><%= link_to "<i class='fa fa-twitter-square'></i>".html_safe, "https://twitter.com/UEventsOfficial" %></li>

		<li>&copy; UEvents 2014</li>
	</ul>
</footer>
